rss_to_db.json
{
  "name": "RSS to Database",
  "nodes": [
    {
      "parameters": {
        "url": "https://rss.nytimes.com/services/xml/rss/nyt/Technology.xml",
        "options": {
          "customFields": ""
        }
      },
      "name": "RSS NY Times",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "ef721c65-32c2-4d85-b595-2e3255a68f4c"
    },
    {
      "parameters": {
        "url": "https://feeds.arstechnica.com/arstechnica/index",
        "options": {
          "customFields": ""
        }
      },
      "name": "RSS ArsTech",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        0,
        160
      ],
      "id": "ed66eae7-1dfb-42a5-ab03-caf92fdc5da0"
    },
    {
      "parameters": {
        "url": "https://www.wired.com/feed/rss",
        "options": {
          "customFields": ""
        }
      },
      "name": "RSS Wired",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        0,
        320
      ],
      "id": "2bbb483e-42a3-411b-ac38-3621d98410c5"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "def get_domain(url):\n    from urllib.parse import urlparse\n    try:\n        domain = urlparse(url).netloc\n        return domain.replace('www.', '').split('.')[0]\n    except:\n        return 'unknown'\n\ndef get_category(item):\n    categories = item.get('categories', [])\n    if categories:\n        return categories[0]\n    return 'General'\n\ndef get_summary(item):\n    return item.get('contentSnippet') or item.get('description') or item.get('title') or 'No summary'\n\n# Process all incoming items\nnormalized_articles = []\n\nfor item in _input.all():\n    article = {\n        'title': item['json']['title'],\n        'url': item['json']['link'],\n        'source': get_domain(item['json']['link']),\n        'published_at': item['json'].get('pubDate') or item['json'].get('isoDate'),\n        'category': get_category(item['json']),\n        'summary': get_summary(item['json']),\n        'content': item['json'].get('content') or item['json'].get('contentSnippet') or item['json'].get('description') or ''\n    }\n    normalized_articles.append(article)\n\nreturn normalized_articles"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        160
      ],
      "id": "645685ee-ab66-45be-84ca-242cc9efacdf",
      "name": "Normalize articles"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -272,
        160
      ],
      "id": "922cdc46-c7c4-4568-bdf2-34b73cca20af",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select url from articles where url in ('{{ $json.response.csv_urls }}')\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        784,
        160
      ],
      "id": "bcef6340-3de2-4035-8896-2073442a157f",
      "name": "Check for duplicates",
      "credentials": {
        "postgres": {
          "id": "pj1Bh0vlZ2P9PAIU",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nurls = []\nfor item in _input.all():\n  urls.append(item.json.url)\n\nurls_to_csv = \"','\".join(urls)\n\nreturn [\n  {\n    'response':{\n      'csv_urls': urls_to_csv,\n      'list_urls': urls\n    }\n  }\n]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        592,
        160
      ],
      "id": "98ea2c8c-4993-43c2-bab6-4e79ad661ba2",
      "name": "Get urls"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "url",
        "joinMode": "keepNonMatches",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        736,
        512
      ],
      "id": "b28bbdaa-4a4b-4835-a3a6-1b832acf890f",
      "name": "Merge"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "=articles",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "title": "={{ $json.title }}",
            "url": "={{ $json.url }}",
            "published_at": "={{ $json.published_at }}",
            "source": "={{ $json.source }}",
            "category": "={{ $json.category }}",
            "summary": "={{ $json.summary }}",
            "content": "={{ $json.content }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "url",
              "displayName": "url",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "published_at",
              "displayName": "published_at",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "summary",
              "displayName": "summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        928,
        512
      ],
      "id": "6079ae40-322b-45fb-b5d2-3aaa9451fb0b",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "pj1Bh0vlZ2P9PAIU",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "RSS NY Times": {
      "main": [
        [
          {
            "node": "Normalize articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS ArsTech": {
      "main": [
        [
          {
            "node": "Normalize articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Wired": {
      "main": [
        [
          {
            "node": "Normalize articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "RSS NY Times",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS ArsTech",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Wired",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize articles": {
      "main": [
        [
          {
            "node": "Get urls",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Check for duplicates": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get urls": {
      "main": [
        [
          {
            "node": "Check for duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "924bf22b-353a-4662-a1db-1cf1b0a5f19d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "648299e299cac772364408cdc8842b742b620f4e23b0830e3cf1308d7569bc02"
  },
  "id": "DgEdi82ktPHqNLTT",
  "tags": []
}